* {
  box-sizing: border-box;
}

body {
  font-family: poppins;
  margin: 10px;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #d2431b 1.18%, #da7d6a 100%);
  color: white;
  padding: 20px;
  box-shadow: 1px 1px 8px rgb(110, 100, 100);
}

.header--img {
  max-height: 100%;
  margin-right: 6px;
}

.header--h2 {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--h4 {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;
  font-family: poppins;
}

.form--button {
  grid-column: 1/-1;
  border-radius: 5px;
  background: linear-gradient(90deg, #d2431b 1.18%, #da7d6a 100%);
  color: white;
  cursor: pointer;
}

.form>input {
  border-radius: 5px;
  border: 1px solid grey;
  text-indent: 5px;
}

.meme-imgs {
  /* max-width: 100%;
  margin-left: 60%; */
  margin-left: 60%;
  max-width: 1600px;
  max-height: 1600px;
}

.topText {
  position: relative;
  margin-top: -100%;
  /* top: 0;
  bottom: 0;
  left: 0; */
}

.bottomText {
  position: relative;
  /* top: 0;
  bottom: 0;
  left: 0; */
}

.meme-imgs>img {
  width: 200%;
  /* max-width: 600px;
  max-height: 600px; */
}

.boxes {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}